{% extends "main.html" %}
{% load staticfiles %}

{% block head %}
	<script src="{{ google.js_uri }}"></script>
	<script type="text/javascript" src="{% static 'bs-filestyle/bootstrap-filestyle.min.js' %}"> </script>
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-md-6 col-md-offset-3">

			<h1 class="text-center">Discord Avatar Change</h1>

			<p></p>

			<div class="row">
				<div id="alertContainer"></div>
			</div>

			<form id="dac" action="{% url "avatar" %}" enctype="multipart/form-data" method="POST">
				{% csrf_token %}

				<p></p>

				<div class="form-group">
					<label for="inputName">Bot Username</label>
					<input type="text" class="form-control" id="inputName" name="inputName" placeholder="Bot Username" autofocus required>
				</div>

				<div class="form-group">
					<label for="inputToken">OAuth Token</label>
					<input type="text" class="form-control" id="inputToken" name="inputToken" placeholder="Bot's OAuth Token" required>
				</div>

				<div class="form-group">
					<label for="inputAvatarFile">Avatar File</label>
					<input type="file" class="file-upload filestyle" data-buttonBefore="true" id="inputAvatarFile" name="inputAvatarFile" required>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary">Change Avatar</button>
					<button type="button" class="btn btn-danger resetButton">Reset</button>
				</div>

				{% if request.session.recaptchaverified %}{% else %}
					<div class="row">
						<div style="margin: 0 auto; display: block; width: 304px;" class="g-recaptcha" data-sitekey="{{ google.site_key }}"></div>
					</div>
				{% endif %}

				<p></p>

				<div class="row">
					<div id="resultContainer"></div>
				</div>

				<div class="row">
					<div class="">
						<strong>By Shane Rice</strong> |
						<a href="https://git.cssnr.com/shane/dac" target="_blank">
						 View Source
						</a>
					</div>
				</div>

			</form>

		</div>
	</div>

	<script src="{% static "js/dac.js" %}" type="text/javascript"></script>

{% endblock %}
