
<div id="token-help" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">OAuth Token Help</h4>
			</div>

			<div class="modal-body">
				<ol>
					<li>
						Log in to your applications:
						<a href="https://discordapp.com/developers/applications/me" target="_blank">
							https://discordapp.com/developers/applications/me
						</a>
					</li>
					<li>Select the bot/application you wish to modify.</li>
					<li>Under the <mark>APP BOT USER</mark> section for Token: <mark>click to reveal</mark></li>
					<li>Copy the entire cope and paste it in this field.</li>
				</ol>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>

		</div>

	</div>
</div>
